.header {
  background-color: #282c34;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.qty {
  color: white;
  background-color: red;
  border-radius: 30%;
  padding: 3px;
  position: absolute;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.productos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: transparent;
  color: #ffffff;
  border: none;
  transition: 0.2s;
  padding: 0;
}

.cart-link {
  display: flex;
  align-items: center;
  gap: 3px;
}

.left-links {
  display: flex;
  gap: 10px;
}

.link {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
  transition: 0.2s;
}

.link.active {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
  transition: 0.2s;
}

.end-icons {
  display: flex;
  gap: 5px;
}

.user-name {
  color: white;
  font-size: 0.9rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #222;
  border-radius: 8px;
  padding: 15px;
  text-transform: capitalize;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 55px;
}
