<button class="button" (click)="goBack()">
  <img src="/arrow-left.svg" alt="volver" width="25px" />
</button>
<div class="buy">

  
  <div class="items" *ngIf="cartItems.length > 0">
    <div *ngFor="let product of cartItems">
      <div class="product-item">
        <img
          class="product-img"
          src="{{ product.urlImage }}"
          alt="Imagen {{ product.model }}"
        />
        <div class="item-text">
          <p>
            <strong>{{ product.brand }} {{ product.model }}</strong>
          </p>
          <p>Precio: ${{ product.price | number : "1.0" }}</p>

          <p>Cantidad: {{ product.quantity }}</p>
        </div>
      </div>
    </div>

    <div class="subtotal">
      <p>Subtotal: ${{ subTotalPrice | number : "1.0" }}</p>
    </div>
  </div>


<form [formGroup]="userDataForm">

  <label style="color: white;" for="">Datos del cliente:</label>
  <p>Nombre:</p>
  <input type="text" formControlName="name" />
  <div
    class="error-message"
    *ngIf="
      !userDataForm.valid &&
      (userDataForm.get('name')?.dirty || userDataForm.get('name')?.touched)
    "
  >
    <div *ngIf="userDataForm.get('name')?.errors?.['required']">
      *Campo requerido
    </div>
    <div *ngIf="userDataForm.get('name')?.errors?.['lettersOnly']">
      *Debe ingresar solo letras
    </div>
  </div>

  <p>Apellido:</p>
  <input type="text" formControlName="lastname" />

  <div
      class="error-message"
      *ngIf="
      !userDataForm.valid &&
      (userDataForm.get('lastname')?.dirty ||
        userDataForm.get('lastname')?.touched)
    "
  >
    <div *ngIf="userDataForm.get('lastname')?.errors?.['required']">
      *Campo requerido
    </div>
    <div *ngIf="userDataForm.get('lastname')?.errors?.['lettersOnly']">
      *Debe ingresar solo letras
    </div>
  </div>

  <p>Email:</p>
  <input type="text" formControlName="email" />
  <div
    class="error-message"
    *ngIf="
      !userDataForm.valid &&
      (userDataForm.get('email')?.dirty || userDataForm.get('email')?.touched)
    "
  >
    <div *ngIf="userDataForm.get('email')?.errors?.['required']">
      *Campo requerido
    </div>
    <div
      *ngIf="userDataForm.get('email')?.errors?.['email'] || userDataForm.get('email')?.errors?.['emailDomainValidator']"
    >
      *Email no válido
    </div>
  </div>

  <p>Pais:</p>
  <select name="" id="" formControlName="country">
    <option value="Argentina">Argentina</option>
  </select>

  <p>Provincia:</p>
  <select name="" id="" formControlName="province">
    <option *ngFor="let province of provincesList" [value]="province">
      {{ province }}
    </option>
  </select>

  <p>Ciudad:</p>
  <select name="" id="" formControlName="city">
    <option *ngFor="let city of bsasCityList" [value]="city">{{ city }}</option>
  </select>

  <p>Calle:</p>
  <input type="text" formControlName="street" />
  <div
    class="error-message"
    *ngIf="
      !userDataForm.valid &&
      (userDataForm.get('street')?.dirty || userDataForm.get('street')?.touched)
    "
  >
    <div *ngIf="userDataForm.get('street')?.errors?.['required']">
      *Campo requerido
    </div>
  </div>

  <p>Número:</p>
  <input type="text" formControlName="streetNumber" />
  <div
    class="error-message"
    *ngIf="
      !userDataForm.valid &&
      (userDataForm.get('streetNumber')?.dirty ||
        userDataForm.get('streetNumber')?.touched)
    "
  >
    <div *ngIf="userDataForm.get('streetNumber')?.errors?.['required']">
      *Campo requerido
    </div>
    <div *ngIf="userDataForm.get('streetNumber')?.errors?.['numbersOnly']">
      *Debe ingresar solo números
    </div>
  </div>

  <p>Piso:</p>
  <input type="text" formControlName="floor" />
  <p>Departamento:</p>
  <input type="text" formControlName="flat" />
  <div >
    <p>Cupon de descuento</p>
    <input type="text" formControlName="discountCoupon" />
    <div class="error-message" *ngIf="!userDataForm.get('discountCoupon')?.errors?.['couponExists']">
      *Cupón inválido
    </div>
    <button
    (click)="applyDiscountCoupon()" [disabled]="!userDataForm.get('discountCoupon')?.errors?.['couponExists'] || userDataForm.get('discountCoupon')?.value == ''"
  >
    Aplicar cupón
  </button>
  <label for="" *ngIf="discountCoupon.freeShiping" >Envío gratis!</label>
  <label for="">Calcular envío para comprobar dirección</label>
  </div>
  
  

 
  <div
    *ngIf="
      userDataForm.get('street')?.valid &&
      userDataForm.get('streetNumber')?.valid
    "
  >
    <button
      [disabled]="
        !userDataForm.get('street')?.valid &&
        !userDataForm.get('streetNumber')?.valid
      "
      (click)="getShippingPrice()"
    >
      Calcular envio
    </button>
    
    <div class="error-message" *ngIf="!addressExists && calculatedShipping" >
      Dirección inexistente
    </div>

  <br>
  <br>
    <div>
      <label style="color: white;" for="">Datos de envío:</label>
      <label for="">Destino de envío: {{ destination_addresses }}</label>
      <br />
      <label style="color: white">Precio de envío: ${{ shippingPrice }}</label>

      <label style="color: white" for=""
        >Total compra ${{ getTotalBuy() | number : "1.0" }}</label>

    </div>
  </div>
  <br>
  <br>


  <label style="color: white;" for="">Datos de pago:</label>
  <select name="" id="" formControlName="cardType">
    <option *ngFor="let type of cardsTypesList" [value]="type">
      {{ type }}
    </option>
  </select>

  <input
    type="text"
    formControlName="cardHolder"
    placeholder="Nombre y apellido como figura en la tarjeta"
  />
  <div
    class="error-message"
    *ngIf="
      !userDataForm.valid &&
      (userDataForm.get('cardHolder')?.dirty ||
        userDataForm.get('cardHolder')?.touched)
    "
  >
    <div *ngIf="userDataForm.get('cardHolder')?.errors?.['required']">
      *Campo requerido
    </div>
    <div *ngIf="userDataForm.get('cardHolder')?.errors?.['lettersOnly']">
      *Debe ingresar solo letras
    </div>
  </div>

  <input
    type="text"
    formControlName="cardNumber"
    placeholder="Número de tarjeta"
    [maxlength]="16" [minlength]="16"  />
  <div
   class="error-message"
    *ngIf="
      !userDataForm.valid &&
      (userDataForm.get('cardNumber')?.dirty ||
        userDataForm.get('cardNumber')?.touched)
    "
  >
    <div *ngIf="userDataForm.get('cardNumber')?.errors?.['required']">
      *Campo requerido
    </div>
    <div *ngIf="userDataForm.get('cardNumber')?.errors?.['numbersOnly']">
      *Debe ingresar solo números
    </div>
    <div *ngIf="userDataForm.get('cardNumber')?.errors?.['minlength']">
      *Debe ingresar una cantidad de dígitos válida (16)
    </div>
  </div>

  <input type="text" placeholder="MM/YY" formControlName="expirationDate" [maxlength]="5" [minlength]="5" />
  <div
    class="error-message"
    *ngIf="
      !userDataForm.valid &&
      (userDataForm.get('expirationDate')?.dirty ||
        userDataForm.get('expirationDate')?.touched)
    "
  >
    <div *ngIf="userDataForm.get('expirationDate')?.errors?.['required']">
      *Campo requerido
    </div>
  </div>

  <input type="text" formControlName="cvv" placeholder="CVV" [maxlength]="3" [minlength]="3" />
  <div
    class="error-message"
    *ngIf="
      !userDataForm.valid &&
      (userDataForm.get('cvv')?.dirty || userDataForm.get('cvv')?.touched)
    "
  >
    <div *ngIf="userDataForm.get('cvv')?.errors?.['required']">
      *Campo requerido
    </div>
    <div *ngIf="userDataForm.get('cvv')?.errors?.['numbersOnly']">
      *Debe ingresar solo números
    </div>
    <div *ngIf="userDataForm.get('cvv')?.errors?.['minlength']">
      *Debe ingresar una catidad de dígitos válida (3)
    </div>
  </div>

  <select name="" id="" formControlName="cardIssuer">
    <option *ngFor="let cardIssuer of cardIssuerList" [value]="cardIssuer">
      {{ cardIssuer }}
    </option>
  </select>

  
  
    <div class="error-message" *ngIf="!verifyCard && (this.userDataForm.get('cardType')?.touched || this.userDataForm.get('cardType')?.dirty ||
    this.userDataForm.get('cardHolder')?.touched || this.userDataForm.get('cardHolder')?.dirty ||
    this.userDataForm.get('cardNumber')?.touched || this.userDataForm.get('cardNumber')?.dirty || 
    this.userDataForm.get('expirationDate')?.touched || this.userDataForm.get('expirationDate')?.dirty ||
    this.userDataForm.get('cardNumber')?.touched || this.userDataForm.get('cardNumber')?.dirty ||
    this.userDataForm.get('cvv')?.touched ||  this.userDataForm.get('cvv')?.dirty ||
    this.userDataForm.get('cardIssuer')?.touched || this.userDataForm.get('cardIssuer')?.dirty)" >
      *Tarjeta inválida
    </div>
    

  <button  (click)="generatePurchase()" type="submit" [disabled]="!verifyCard || !addressExists" >Confirmar compra</button>
</form>
</div>