.inner-button {
    min-width: 100px;
    display: flex;
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transition: 0.3s;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
  }
  
  .image {
    width: 100px;
    height: 100px;
  }
  
  .flex {
    display: flex;
    gap: 10px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    background-color: #222;
    width: max-content;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  form {
    margin-top: 20px;
    width: 600px;
  }
  
  select {
    min-width: 600px;
    padding: 5px;
    border-radius: 5px;
  }
  
  button {
    border: none;
  }
  .buttonBack {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    max-width: 50px;
    display: flex;
    align-items: flex-start;
    transition: 0.3s;
  }
  