<form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
  <div class="face">
    <img src="/login.png" alt="face" width="150px" height="150px" />
  </div>
  <div class="form-group">
    <label>Email:</label>
    <input
      type="text"
      id="email"
      formControlName="email"
      required
      class="form-input"
      placeholder="Email"
    />
    <div
      *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
      class="error-message"
    >
      * Ingresar el email
    </div>
  </div>
  <div class="form-group">
    <label>Contraseña:</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      required
      class="form-input"
      placeholder="Contraseña"
    />
    <div
      *ngIf="
        loginForm.get('password')?.invalid && loginForm.get('password')?.touched
      "
      class="error-message"
    >
      * Ingresar la contraseña
    </div>
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <button type="submit" [disabled]="loginForm.invalid" class="submit-button">
    Login
  </button>
</form>
