.profile-container {
  border-radius: 8px;
  color: #fff;
  max-width: 800px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 50px;
}

h1 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 20px;
}

p {
  font-size: 1rem;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.profile-data {
  background-color: #333;
  padding: 10px;
  border-radius: 4px;
  color: white;
  border: 1px solid #555;
  width: 100%;
  box-sizing: border-box;
}

.flex {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.inner-flex {
  width: 100%;
}

.text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
    margin-top: 20px; 
  }
  

  .button-group button {
    background-color: #444;
    color: white;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    transition: 0.3s;
    flex-grow: 1; 
    min-width: 150px; 
    max-width: 200px; 
    white-space: nowrap; 
  }
  

  .button-group button:hover {
    background-color: #555;
    color: #fff;
    border-color: #666;
  }
  

  .button-group button:disabled {
    background-color: #777;
    cursor: not-allowed;
  }

.modal-content {
  background-color: #222 !important;
  color: white !important;
  border: 1px solid #555;
}


.modal-backdrop {
  opacity: 0.3 !important;
}

.btn-link {
  display: flex;
  justify-content: left;
  font-size: 16px;
  background-color: #444;
    color: white;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    transition: 0.3s;
    white-space: nowrap; 
    text-align: center;
}

.btn-link:hover {
  text-decoration: underline;
}

.toast-container {
  z-index: 1056;
}

.custom-swal-dark {
  background-color: #222 !important;
  color: white !important;
  border: 1px solid #555 !important;
}

.custom-title-dark {
  color: white !important;
}

.custom-confirm-button-dark {
  background-color: #444 !important;
  color: white !important;
  border: 1px solid #555 !important;
}
.buttonBack {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  max-width: 50px;
  display: flex;
  align-items: flex-start;
  transition: 0.3s;
}